$globalRadius: 3px;
$primary-font-family: "proxima-nova";
$secondary-fontFamily: "proxima-nova";
$base-font-size: 14px;
$gutter: 30px;
$gutter-small: $gutter /2;
$global-max-width: 1400px;
$input-radius: $globalRadius;
$letter-spacing: 0.095em;
$letter-spacing-button: 0.2em;
$global-radius: 3px;
